
<main>

    <section>
        <h2 id="faq">F.A.Q</h2>
        <details>
            <summary>Pergunta 1</summary>
            <p>Resposta 1</p>
        </details>
        <details>
            <summary>Pergunta 2</summary>
            <p>Resposta 2</p>
        </details>
        <details>
            <summary>Pergunta 3</summary>
            <p>Resposta 3</p>
        </details>
        <details>
            <summary>Pergunta 4</summary>
            <p>Resposta 4</p>
        </details>
        <details>
            <summary>Pergunta 5</summary>
            <p>Resposta 5</p>
        </details>
        <details>
            <summary>Pergunta 6</summary>
            <p>Resposta 6</p>
        </details>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>