@model RoleTop.ViewModels.BaseViewModel;
<main>
    <section id="mini-menu">
        <div><a asp-controller="Cliente" asp-action="InfoUsuario" class="info-a">Informações do usuário</a></div>   
        <div class="info-b-1"><a asp-controller="Cliente" asp-action="MeusEventos" class="info-b">Meus eventos</a></div>     
    </section>

    <section id="info-u">
        <form method="POST" action='@Url.Action("AlterarInformacoes", "Cliente")'>
            <div class="informacoes">
                <label for="nome"class="p-i">Nome</label>
                <input class="p-i" id="nome" type="text" name="nome" maxlength="40" required value=@Model.Cliente.Nome>
            </div>
            <div class="informacoes">
                <label for="date" class="p-i">Data de nascimento</label>
                <input class="p-i" id="date" type="date" max="2019-10-09" min="1880-01-01" name="dataNascimento" value=@Model.Cliente.DataNascimento>
            </div>
            <div class="informacoes">
                <label for="email-c" class="p-i">E-mail</label>
                <input class="p-i" id="email-c" type="email" required name="email" value=@Model.Cliente.Email>
            </div>
            <div class="informacoes">
                <label for="telefone" class="p-i">Telefone</label>
                <input class="p-i" id="telefone" type="tel" maxlength="11" required name="telefone" value=@Model.Cliente.Telefone>
            </div>
            <div class="informacoes">
                <label for="cpf" class="p-i">CPF</label>
                <input class="p-i" id="cpf" type="text" required name="cpf" value=@Model.Cliente.CPF>
            </div>
            <div>
                <input type="submit" value="Salvar" class="botao-final">
            </div>
        </form>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>