/*===================================================================================================================
                                                 INICIO - AGENDAMENTO 
==================================================================================================================*/

body {
    background-color: #7d0093;
}

main {
    display: flex;
    justify-content: center;
}

#meio {
    width: 800px;
    background-color: #7d0093;
    margin-bottom: 10px;
}

#titulo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    
}

.informacao {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.informacao > input {
    height: 2em;
    width: 60%;

}

.informacao > select {
    height: 2em;
    width: 20%;

}

.n-info {
    margin: 0 20px 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.n-info > input {
    height: 4em;

}

#finalizar-agendamento {
    display: flex;
    justify-content: flex-end;
}
.botao {
    margin: 10px 20px 0 0;
    padding: 5px 30px;
    background-color: #ffc600;
    border: solid #000000;
}
/*===================================================================================================================
                                                 FIM - AGENDAMENTO 
==================================================================================================================*/