.informacoes {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 200px;
}

.p-i {
    padding: 2px;
    font-size: 1.2em;
    width: 30%;
}

#mini-menu {
    background-color: #000000;
    display: flex;
    height: 2.5em;
    align-items: center;
}
body {
    background-image: linear-gradient(to bottom, #ffc600, #7d0093)
}

.info-a {
    text-decoration: none;
    color: #000000;
    background-color: #7d0093;
    padding: 3px 20px;
    font-size: 1.4em;
    border-radius: 8px;
    margin:  0 0 0 200px;
}

.info-b {
    text-decoration: none;
    color: #ffffff;
    padding: 3px 20px;
    font-size: 1.4em;
    margin: 0 0 0 20px; 
}

#botao-modificar {
    text-decoration: none;
    color: #ffffff;
    padding: 3px 10px;
    background-color: #ffc600;
    border-radius: 8px;
    border: solid #000000;
    width: 15%;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    margin: 0 0 0 200px;
}

a {
    text-decoration: none;
    color: #000000;
}

div.info-b-1 :hover {
    background: #7d0093;
    color: #000000;
    border-radius: 8px;
    
}

.botao-final {
    text-decoration: none;
    color: #ffffff;
    padding: 3px 10px;
    background-color: #ffc600;
    border-radius: 8px;
    border: solid #000000;
    width: 15%;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    margin: 0 0 0 200px;
}