
    <main>
        <section >

                <div src="~/img/Banner/Banner1.jpg" id="textoBanner">
                    <p>Rolê Top</p>
                    <p>Venha conhecer nosso salão</p>
                </div>

        </section>

        <section id="fotos">

            <p class="text-fotos">Varias pessoas e empresas tende a escolher nosso local para eventos pela ótima localidade e preço.</p>
            <p class="text-fotos">veja algumas fotos do nosso salão e de uns eventos</p>
            <div>
                <div></div>
                <p>imagens</p>
                <div></div>
            </div>
            <div class="botao-1">
                <p class="text-botao"><a asp-controller="Galeria" asp-action="Plantas" class="cor-botao">Ver galeria</a></p>
            </div>

        </section>

        <section id="area-do-calendario">

            <div class="mes">
                <p class="text-comeco-calendario">Calendário de eventos</p>
            </div>

            <div class="mes">
                <p class="text-mes"> &lt; </p>
                <p class="text-mes"> Dezembro </p>
                <p class="text-mes"> &gt; </p>
            </div>

            <div id="calendario-tabela">

                    <table>
                            <thead>

                                <tr>
                                    <th>D</th>
                                    <th>S</th>
                                    <th>T</th>
                                    <th>Q</th>
                                    <th>Q</th>
                                    <th>S</th>
                                    <th>S</th>
                                </tr>

                            </thead>

                            <tfoot>
                
                            </tfoot>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                    <td>20</td>
                                    <td>21</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>31</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                
            </div>

            <div id="eventopublico">
                <a asp-controller="Home" asp-action="Eventospublicos">Eventos publicos</a>
            </div>

            <div id="legenda-do-calendario">
                <div id="legenda-1">
                    <div class="quadrado"></div>
                    <p class="text-legend">Evento marcado</p>
                
                </div>
                <div id="legenda-2">
                    <div class="quadrado-1"></div>
                    <p class="text-legend">Sem evento</p>
                </div>
            </div>

            <div id="b">
                <div class="botao-1">
                    <p class="text-botao"><a asp-controller="Agenda" asp-action="Agendar" class="cor-botao">Agende já</a></p>
                </div>
            </div>

        </section>

        <section id="area-do-mapa">

            <div id="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8888870802516!2d-46.648335685022666!3d-23.53649848469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola%20SENAI%20de%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1568048407246!5m2!1spt-BR!2sbr" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

            <div id="mapa-endereco">
                <div id="icon-maps"><i class="fas fa-map-marker-alt"></i></div>
                <p>Endereço : Alameda Barão de Limeira, 539 - Santa Cecilia, São Paulo - SP, 01202-001</p>
            </div>


        </section>
    </main>