<main>

        <section>
            <div id="menu-galeria">
                <div>
                    <h2 class="item"><a asp-controller="Galeria" asp-action="Plantas" class="mini-menu-galeria-letra">Planta do espaço</a></h2>
                </div>
                <div>
                    <h2 class="item"><a asp-controller="Galeria" asp-action="Salao" class="mini-menu-galeria-letra">Espaço</a></h2>
                </div>
                <div>
                    <h2 class="item"><a asp-controller="Galeria" asp-action="Casamento" class="mini-menu-galeria-letra">Casamentos</a></h2>
                </div>
                <div>
                    <h2 class="item"><a asp-controller="Galeria" asp-action="Balada" class="mini-menu-galeria-letra">Baladas</a></h2>
                </div>
                <div>
                    <h2 class="item-selecionado"><a asp-controller="Galeria" asp-action="Formatura" class="mini-menu-galeria-letra item-selecionado-1">Formaturas</a></h2>
                </div>
                <div>
                    <h2 class="item"><a asp-controller="Galeria" asp-action="OutrosEventos" class="mini-menu-galeria-letra">Outros eventos</a></h2>
                </div>
            </div>
            <div id="galeria-fotos-1">
                <div class="img-de-galeria"><img src="~/Img/Formaturas/1.jpg" alt="" class="fotos"></div>
                <div class="img-de-galeria"><img src="~/Img/Formaturas/2.jpg" alt="" class="fotos"></div>
                <div class="img-de-galeria"><img src="~/Img/Formaturas/3.jpg" alt="" class="fotos"></div>
                <div class="img-de-galeria"><img src="~/Img/Formaturas/4.jpg" alt="" class="fotos"></div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>