@model RoleTop.ViewModels.RespostaViewModel
<main>
    <div class="resposta">
        <h2>
            @ViewData["Action"] não pode ser efetuado!
        </h2>
        <br/>
        <h2>
            @Model.Mensagem
        </h2>
    </div>
</main>