/*===================================================================================================================
                                                 INICIO - CADASTRO 
==================================================================================================================*/
body {
    background: #ffc600;
    text-align: center;
}
main {
    width: 40%;
    align-self: center;
}
